#email {
    margin: 50 px;
}
.l1{
 margin: 50px;
 text-align: center;
}
.l2{
    margin: 50px;
    text-align: center;
    position:absolute;
    
}
.button1{
    margin: 50px;
    text-align: center;
}

